@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111111;

  --secondary: #f5f5f5;
  --border: #e5e7eb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.embla {
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
  height: 100%;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  position: relative;
}
